@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/assets/inter.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@theme {
  /* Colores */
  --color-primary: #09f;
  --color-primary-light: #ceecff;
  --color-primary-dark: rgb(0, 22, 83);
  --color-midu-lol: #f8dbff;
  --color-midu-lol-light: #ceecff;

  --color-html: #e44d26;

  /* Fuentes */
  --font-display: "Inter", system-ui, sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 350px;
}

.social-button {
  @apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}

.fade-final {
  -webkit-mask-image:
    linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    ),
    linear-gradient(to bottom, black 0%, black 70%, transparent 100%);

  -webkit-mask-composite: intersect;
  mask-composite: intersect;
}