$dark: #112c50;
$light: #f5f5f5;
$accent: #126f8d;
$bg: #f1f0ea;
$text: #000;
$form: #d9d9d9;

$font-main: "Neue Montreal";
$font-title: "Reckless Neue";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $bg;
  font-family: $font-main;
  color: $text;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;

  &.primary {
    background: #e3be86;
    color: $text;
  }

  &.secondary {
    background: #c55a26;
    color: $light;
  }
}

.hero {
  background: url("../img/header-background.jpg") center / cover no-repeat;
  color: $light;
  padding-bottom: 80px;

  .top-bar {
    background: $dark;
    padding: 8px 0;

    .top-bar-content {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      a {
        color: $light;
        font-size: 14px;
      }
    }
  }

  nav {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      margin-top: 0px;
      display: flex;
      gap: 30px;
      list-style-type: none;

      a {
        color: $light;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }

  .hero-content {
    width: 600px;
    left: 10%;
    top: 28%;
    margin: 0;
    margin-left: 115px;

    p:first-child {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 14px;

      .highlight {
        font-weight: 700;
      }
    }

    h1 {
      font-family: $font-title;
      font-size: 54px;
      line-height: 1.2;
      margin: 0 0 20px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      max-width: 480px;
    }

    .hero-buttons {
      margin-top: 32px;
      display: flex;
      gap: 16px;
    }
  }
}

.about {
  @extend .wrapper;

  article {
    grid-column: 1 / 7;

    h2 {
      font-family: $font-title;
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 12px;
    }
  }

  aside {
    grid-column: 7 / 13;

    img {
      width: 70%;
      border-radius: 20px;
      margin: 50px;
    }
  }
}

.services {
  text-align: center;
  padding: 120px 0;
  background: url("../img/techo-cristal.jpg") center / cover no-repeat;
  color: $light;

  h3 {
    font-family: $font-title;
    font-size: 36px;
  }

  p {
    width: 450px;
    margin: 20px auto;
  }
}

.team {
  width: 90%;
  margin: 100px auto;

  h3 {
    font-family: $font-title;
    font-size: 28px;
    margin-bottom: 30px;
    max-width: 600px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: 0;
      width: 50px;
      height: 5px;
      background: $accent;
    }
  }

  .team-members {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    article {
      grid-column: span 4;

      img {
        width: 100%;
        border-radius: 10px;
      }

      h4 {
        font-family: $font-title;
        margin: 8px 0;
      }
    }
  }
}

.testimonials {
  background: $dark;
  color: $light;
  padding: 100px 0;

  h3 {
    width: 80%;
    margin: 0 auto 50px;
    font-family: $font-title;
    position: relative;
    text-align: left;
    padding-left: 0;

    &::before {
      content: "";
      position: absolute;
      top: -14px;
      left: 0;
      width: 50px;
      height: 5px;
      background: $accent;
    }
  }

  .testimonials-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    blockquote {
      background: $light;
      color: $text;
      padding: 30px;
      border-radius: 0;
    }
  }
}

.contact-form {
  width: 80%;
  margin: 100px auto;

  h3 {
    font-family: $font-title;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: 0;
      width: 50px;
      height: 5px;
      background: $accent;
    }
  }

  form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    input,
    textarea {
      background: $form;
      border: none;
      padding: 10px;
    }

    textarea {
      height: 150px;
    }
  }
}

.location {
  width: 80%;
  margin: 100px auto;

  h3 {
    font-family: $font-title;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: 0;
      width: 50px;
      height: 5px;
      background: $accent;
    }
  }

  iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
}

body > footer {
  background: $dark;
  color: $light;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer a {
  color: $light;
  text-decoration: none;
}

.newsletter input {
  padding: 8px;
  background: $form;
  border: none;
}
